* {
  color: aliceblue;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
}
body {
  background-color: #123342;
}
.navbar {
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 0;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.sub-menu {
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  top: 10%;
}

.nav-links {
  display: flex;
  gap: 50px;
  padding: 10px;
}

.logo {
  width: 80px;
}

.hamburger-menu {
  display: none;
}

.nav-links span:hover .sub-menu {
  display: flex;
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .hamburger-menu {
    display: block;
    padding-right: 30px;
    cursor: pointer;
    order: 2;
    margin: 0;
  }
  .logo {
    order: 0;
  }
  .nav-links {
    display: none;
  }
  .nav-links.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    order: 0;
    width: 100%;
  }
}
